<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h1>Hey, May I have your name please?</h1>
    </header>

    <main>
        <h4 th:text="${formVar}"></h4>
        <form action="" method="post">
            <input type="text" name="usrname">
            <input type="submit" value="Submit Name">
        </form>

        <div>
            <h5 th:unless="${namesCollected} and ${namesCollected.size()}">No name entered in the form as yet</h5>
            <ul>
                <li th:each="cName : ${namesCollected}" th:text="${cName}"></li>
            </ul>
        </div>


    </main>

    <footer></footer>
</body>
</html>