<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <main>
        <!--The data that will be collected from the form will be handled differently-->
        <h4 th:text="${formVar2}"></h4>
        <form action="/views/add-names-two-display" method="post">
            <input type="text" name="usrname2">
            <input type="submit" value="Submit Your Name">
        </form>

    </main>

</body>
</html>