<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace=" fragments :: head"></head>
<head th:replace="fragments :: head"></head>
<body>
    <header></header>
    <main>
        <form action="/views/names" method="post">
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" name="name" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="quote">Favourite Quote: </label>
                <input type="text" name="quote" value="Enter your fav quote" class="form-control" id="quote">
            </div>
            <input type="submit" value="Submit" class="btn-primary">
        </form>
    </main>
    <footer></footer>

</body>
</html>